<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header', { title: 'Cadastrar'}) %>
    <main class="main-container">
        <div class="container"> 
            <h2><%= titulo %></h2>
            <% if(error_msg) { %>
                <div class="error">
                    <p><%= error_msg %></p>
                </div>
            <% } else { %>
                <div class="success">
                    <p><%= success_msg %></p>
                </div>
            <% } %>
            <form action="/cadastrarUsuario" method="POST" class="form-control">
                <label for="name">Nome</label>
                <input type="text" name="name" placeholder="Digite o seu nome..."
                requered>
                <label for="email">E-mail</label>
                <input type="email" name="email" placeholder="Digite o e-mail..."
                requered>
                <label for="password">Senha</label>
                <input type="password" name="password" placeholder="Digite a sua senha..."
                requered>
                <select name="tipo" required>
                    <option value="Escolhe uma opção">Escolhe uma opção</option>
                    <option value="paciente">Paciente</option>
                    <option value="admin">Administrador</option>   
                </select>
                <button type="submit" class="form-control-btn">Cadastrar</button>
            </form>
        </div>
    </main>
    <%- include('partials/footer', { title: 'Cadastrar'}) %>
</body>
</html>