<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('partials/header', {title: 'Home'}) %>
     <div class="main-container">
     
          <div class="container">
              <h2><%= titulo %></h2>
           
                <div class="depoi-card">
                    <div class="depoimento">
                        <h4><%= name %></h4>
                        <p><%= depoimentos %></p>
                    </div>
                    <div class="depoimento">
                        <h4><%= name %></h4>
                        <p><%= depoimentos %></p>
                    </div>
                    <div class="depoimento">
                        <h4><%= name %></h4>
                        <p><%= depoimentos %></p>
                    </div>
                    <div class="depoimento">
                        <h4><%= name %></h4>
                        <p><%= depoimentos %></p>
                    </div>
                </div>

          
          </div>
         
    <%- include('partials/footer', {title: 'Home'}) %>         
     </div>
</body>
</html>