
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header', { title: 'Cadastrar'}) %>
    <main class="main-container">
        <div class="container"> 
            <h2><%= titulo %></h2>
            <form action="/editar/<%= usuario.id %>" method="POST" class="form-control">
                <label for="name">Nome</label>
                <input type="text" name="name" value="<%= usuario.name %>" placeholder="Digite o seu nome..."
                requered>
                <label for="email">E-mail</label>
                <input type="email" name="email" value="<%= usuario.email %>" placeholder="Digite o e-mail..."
                requered>
                <!-- <label for="password">Senha</label>
                <input type="password" name="password" placeholder="Digite a sua senha..."
                requered> -->
                <button type="submit" class="form-control-btn">Editar</button>
            </form>
        </div>
    </main>
    <%- include('partials/footer', { title: 'Cadastrar'}) %>
</body>
</html>