
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header', { title: 'Login'}) %>
    <main class="main-container">
        <div class="container">

            <h2><%= titulo %></h2>

            <% if(error_msg) { %>
                <div class="msg">
                    <p class="success"><%= error_msg %></p>
                </div>
            <% } else if(success_msg) { %>
                <div class="msg">
                    <p class="error"><%= success_msg %></p>
                </div>
            <% } %>

            <form action="/login" method="POST" class="form-control">

                <label for="email">E-mail</label>
                <input type="email" name="email" placeholder="Seu email..." required>
                <label for="password">Senha</label>
                <input type="password" name="password" placeholder="Sua senha..." required>
                <button type="submit" class="form-control-btn">Entrar</button>
            </form>
        </div>
    </main>
    <%- include('partials/footer', { title: 'Login'}) %>
</body>
</html>